.wrapper {
    position: relative;
    height: 50px;
    margin: 0px;
}

.button1 {
    width:200px; 
    text-align: center;
    background-color: #563F2E; 
    border: 3px solid #563F2E;
    color:white; 
    font-size:25px; 
    margin: 5px 10px;
    border-radius: 5px;
    padding: 10px;
    float: left;
    cursor: pointer;
}

.button1:hover {
    text-decoration: none;
    background-color: white;
    color: #563F2E;
    border: 3px solid #563F2E;
    transition: background-color 0.3s; 
}

.button2:hover {
    text-decoration: none;
    background-color: white;
    border: 3px solid #2EA9DF;
    color: #2EA9DF;
    transition: background-color 0.3s;
}

.button2 {
    width:200px; 
    text-align: center;
    background-color: #2EA9DF; 
    border: 3px solid #2EA9DF;
    color:white; 
    font-size:25px; 
    margin: 5px 10px;
    border-radius: 5px;
    padding: 10px;
    float: left;
    cursor: pointer;
}